reference-data/test-results/
bin/
obj/
[Oo]utput/
ipch/
[Ii]ntermediate/
_Resharper*
*.user
*.suo
*.nupkg
*.opensdf
*.sdf
*.filters
*.psess
*.vspx
languages/javascript/testdata/*.hron
languages/javascript/testdata/*.hron.actionlog
languages/javascript/mongoose-free-5.5.exe
node_modules/
*.pyc